aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
asyncio-dgram==2.2.0
attrs==25.4.0
beautifulsoup4==4.12.3
brotli==1.2.0
cachetools==6.2.1
certifi==2024.12.14
cffi==2.0.0
charset-normalizer==3.4.0
cssselect==1.2.0
deprecation==2.1.0
dnspython==2.8.0
eyeD3==0.9.8
fake-useragent==2.0.3
filetype==1.2.0
frozenlist==1.8.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
greenlet==3.1.1
httplib2==0.31.0
idna==3.10
lxml==5.3.0
lxml_html_clean==0.4.1
mcstatus==12.0.6
multidict==6.7.0
mutagen==1.47.0
oauthlib==3.3.1
packaging==25.0
parse==1.20.2
playwright==1.49.1
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.33.0
py-cord==2.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.10
pydantic-settings==2.12.0
pydantic_core==2.33.2
pyee==12.0.0
PyNaCl==1.6.1
pyparsing==3.2.5
pyquery==2.0.1
python-dotenv==1.2.1
requests==2.32.3
requests-htmlc==0.0.8
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
songbirdcore==0.1.6
soupsieve==2.6
typing-inspection==0.4.2
typing_extensions==4.12.2
uritemplate==4.2.0
urllib3==2.2.3
w3lib==2.2.1
websockets==15.0.1
yarl==1.22.0
yt-dlp==2025.11.12
yt-dlp-ejs==0.3.1
